
volumes:
  web2_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${WEB2_PATH}
    name: ${TANGO_CTX_NAME}_web2_data

services:
  
  web2:
    image: httpd:${WEB2_VERSION:-latest}
    container_name: ${TANGO_CTX_NAME}_web2
    depends_on: 
      - service_init
    restart: unless-stopped
    volumes:
      - web2_data:/usr/local/apache2/htdocs
    labels:
      - "${TANGO_INSTANCE_NAME}.managed=true"
      - "traefik.enable=true"
      # service : web2 -------------------------
      - "traefik.http.services.web2.loadbalancer.server.port=80"
      - "traefik.http.services.web2.loadbalancer.server.scheme=http"
      - "traefik.http.services.web2.loadbalancer.passhostheader=true"
      # service router : web2
      - "traefik.http.routers.web2.entrypoints=${WEB2_ENTRYPOINTS:-entry_main_http}"
      - "traefik.http.routers.web2.rule=HostRegexp(`{subdomain:${WEB2_SUBDOMAIN}}{domain:${TANGO_DOMAIN:-.*}}`)"
      - "traefik.http.routers.web2.priority=${WEB2_PRIORITY}"
      - "traefik.http.routers.web2.service=web2"
      - "traefik.http.routers.web2-secure.entrypoints=${WEB2_ENTRYPOINTS_SECURE:-entry_main_http_secure}"
      - "traefik.http.routers.web2-secure.rule=HostRegexp(`{subdomain:${WEB2_SUBDOMAIN}}{domain:${TANGO_DOMAIN:-.*}}`)"
      - "traefik.http.routers.web2-secure.priority=${WEB2_PRIORITY}"
      - "traefik.http.routers.web2-secure.service=web2"
      - "traefik.http.routers.web2-secure.tls=true"
      - "traefik.http.routers.web2-secure.tls.domains[0].main=${WEB2_SUBDOMAIN}${TANGO_DOMAIN:-.*}"
      # service router middlewares : web2
      - "traefik.http.routers.web2.middlewares=error-middleware"
      - "traefik.http.routers.web2-secure.middlewares=error-middleware"
    networks:
      - default
    expose:
      - 80/tcp
